include AUTHORS CHANGES.md LICENSE.txt README.md
include *.md
include .coveragerc
include tox.ini

recursive-include baygon *
recursive-include demo *.c
recursive-include demo *.md
recursive-include demo *.yml
recursive-include demo Makefile
recursive-include docs *.json
recursive-include docs *.lock
recursive-include docs *.md
recursive-include docs *.scss
recursive-include docs *.svg
recursive-include docs *.ts
recursive-include tests *.py
recursive-include tests *.txt
recursive-include tests *.yml

exclude .editorconfig baygon/version.py .gitignore .eggs .env .tox .vscode .vscode/settings.json

global-exclude *.pyc *~ .DS_Store *__pycache__* *.pyo node_modules
