site_name: Baygon
site_description: Functional tests for teaching activities
strict: true
site_url: https://heig-tin-info.github.io/baygon/
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: brown
      accent: deep orange
      toggle:
        icon: material/lightbulb-outline
        name: "Switch to dark mode"
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: brown
      accent: deep orange
      toggle:
        icon: material/lightbulb
        name: "Switch to light mode"
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - announce.dismiss
    - navigation.tabs
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.suggest
    - toc.follow
  logo: "baygon.svg"
  favicon: "favicon.png"

repo_name: heig-tin-info/baygon
repo_url: https://github.com/heig-tin-info/baygon
extra:
  version:
    provider: mike
  analytics:
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/thumb-up-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/thumb-down-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback!

# https://www.mkdocs.org/user-guide/configuration/#validation
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn

# extra_css:
#   - 'extra/terminal.css'
#   - 'extra/tweaks.css'
# extra_javascript:
#   - 'extra/feedback.js'
#   - 'extra/fluff.js'
#   - 'https://samuelcolvin.github.io/mkdocs-run-code/run_code_main.js'

nav:
  - Documentation:
      - getting-started.md
      - syntax.md
      - scripting.md
      - score.md
      - advanced.md
      - contributing.md

markdown_extensions:
  - tables
  - toc:
      permalink: true
      title: Page contents
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      pygments_lang_class: true
  - pymdownx.extra
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true

watch:
  - baygon

plugins:
  - social
  # - mike:
  #     alias_type: symlink
  #     canonical_version: latest
  - search
